<nav class="stellarnav">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/articles/display">Articles</a></li>
        <li><a href="/galleryDisplay">Medias</a></li>
        {{#if user}}
        <li><a href="/userProfile/{{user}}">Mon profil</a></li>
        <li><a href="/mp/list/{{user}}" {{#if newMp}}style="color: red;">Nouveau message !{{else}}>Ma messagerie{{/if}}</a></li>
            {{#if admin }}
                <li id="adminMenu"><a href="/admin/welcome">Administrer</a></li>
            {{/if}}
            {{#if modo }}
                <li id="adminMenu" class="dropdown"><a href="/admin/welcome">Modération</a></li>
            {{/if}}
        <li id="deco"><a id="linkDeco" href="/users/logout">Déconnexion ({{uName}})</a></li>
        {{else}}
        <li id="connect"><a id="linkReg" class="js-modal" href="#modal2">Inscription</a></li>
        <li id="connect"><a id="linkCo" class="js-modal" href="#modal1">Connexion</a></li>
        {{/if}}
        <li>
            <form class="searchForm">
                <input class="searchBar" type="text" name="search" id="search" placeholder=" ">
            </form>
        </li>
    </ul>
</nav>