
    <header>
        <h1>La Démocratie En Marche !</h1>
    </header>
    <section class="prez">
        <h2>(Rien n'arrête une idée dont le temps est venu)</h2>
        {{#each edito}}
            {{#if active}}
            <article class="bloc separated">
                <h3>{{title}}</h3>
                {{{content}}}
                <p class="mpFoot">Publié par <a href="/userProfile/{{authorId}}">{{author}}</a>, le {{formatDate}}</p>
            </article>
            {{/if}}
        {{/each}}
        <p><a class="button" href="/articles/display">Entrer</a></p>
    </section>

    