<h1>Articles recents</h1>
<section>
    {{#if article}}
    <section class="galCont">
        {{#each article}}
        <article class="bloc">
            <h2><a href="/article/{{_id}}" {{#if read}}class="read"{{/if}}>{{title}}</a></h2>
            {{{content}}}
            <p>Par <a href="/userProfile/{{authorId}}">{{author}}</a>, le {{formatDate}}</p>
        </article>
        {{/each}}
    </section>
    {{else}}
    <article class="bloc">
        <p>Aucun article publié pour le moment ... Soyez le premier !!!</p>
    </article>
    {{/if}}
</section>