<h1>Articles recents</h1>
<section>
    {{#if article}}
    <section>
        {{#each article}}
        <article class="bloc blocList">
            <h3>{{title}}</h3>
            <p>{{{content}}}</p>
            {{#if ../isOwner}}
            <div class="adminButtonsCont"><a class="button" href="/articles/edit/{{id}}">Modifier</a><a class="button"
                    href="/medias/delete/{{id}}">Supprimer</a></div>
            {{/if}}
        </article>
        {{/each}}
    </section>
    {{else}}
    <article class="bloc">
        <p>{{user.userName}} n'a pas encore publé d'article ...</p>
    </article>
    {{/if}}
</section>