<section class="articleSection">
    <h2>{{article.title}}</h2>
    <div class="bloc">
        <p>{{{article.content}}}</p>
        <p>Publié par <a href="/userProfile/{{article.authorId}}">{{article.author}}</a></p>
        {{#if isOwner}}
        <div class="adminButtonsCont">
            <a class="button" href="/article/edit/{{article._id}}">Modifier</a>
            <a class="button" href="/article/delete/{{article._id}}">Supprimer</a>
        </div>
        {{else}}
            {{#if admin}}
            <div class="adminButtonsCont">
                <a class="button" href="/article/edit/{{article._id}}">Modifier</a>
                <a class="button" href="/article/delete/{{article._id}}">Supprimer</a>
            </div>
            {{/if}}
        {{/if}}
    </div>
</section>
<div class="comCont">
    <div class="comColumn">
        <section>
            {{#each comment}}
            <article class="comEl" id="{{_id}}">
                <div class="bloc">
                    <p class="comHead">Publié par <a href="/userProfile/{{authorId}}">{{author}}</a></p>
                    <p>{{{content}}}</p>
                    {{#if ../isCommentOwner}}
                    <div class="adminButtonsCont">
                        <a class="button" href="/comment/edit/{{_id}}">Modifier</a>
                        <a class="button" href="/comment/delete/{{_id}}">Supprimer</a>
                    </div>
                
                    {{else}}
                    {{#if ../admin}}
                    <div class="adminButtonsCont">
                        <a class="button" href="/comment/edit/{{_id}}">Modifier</a>
                        <a class="button" href="/comment/delete/{{_id}}">Supprimer</a>
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </article>
            {{/each}}
        </section>
        {{#if user}}
        <section class="formContainer bloc">
            <form action="/comments/add/{{article._id}}" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="content"><h3>Votre commentaire</h3></label>
                    <textarea class="textarea" name="content"></textarea>
                    <script>
                        CKEDITOR.replace(
                            ('content'));
                        CKEDITOR.config.entities = false;
                        CKEDITOR.config.entities_latin = false;
                    </script>
                </p>
                <p>
                    <input class="button" type="submit" value="Envoyer" />
                    <a href="/">Annuler</a>
                </p>
            </form>
        </section>
        {{else}}
        <p class="bloc"><strong>Connectez-vous pour écrire un commentaire !</strong></p>
        {{/if}}
    </div>
    
    <div id="lisere">
        <p> </p>
    </div>
</div>