<section class="articleSection">
    <h2>{{article.title}}</h2>
    <div class="bloc">
        {{{article.content}}}
        <p>Publié par <a href="/userProfile/{{article.authorId}}">{{article.author}}</a></p>
        {{#if isOwner}}
        <div class="adminButtonsCont">
            <a class="button" href="/article/edit/{{article._id}}">Modifier</a>
            <a class="button" href="/article/delete/{{article._id}}">Supprimer</a>
        </div>
        {{else}}
            {{#* inline "btnModArt"}}
                <div class="adminButtonsCont">
                    <a class="button modo" href="/article/edit/{{article._id}}">Modérer</a>
                    <a class="button danger" href="/article/delete/{{article._id}}">Supprimer</a>
                </div>
            {{/inline}}
            {{#if admin}}
                {{#if userIsModo}}
                {{> btnModArt}}
                {{else}}{{#if userIsMember}}
                {{> btnModArt}}
                {{else}}{{#if userIsBanned}}
                {{> btnModArt}}
                {{/if}}{{/if}}{{/if}}
            {{else}}{{#if modo}}
                {{#if userIsMember}}
                {{> btnModArt}}
                {{else}}{{#if userIsBanned}}
                {{> btnModArt}}
                {{/if}}{{/if}}
            {{/if}}{{/if}}
        {{/if}}
    </div>
</section>
<div class="comCont">
    <div class="comColumn">
        <section>
            {{#each comment}}
            <article class="comEl" id="{{_id}}">
                <div class="bloc">
                    <p class="comHead">Publié par <a href="/userProfile/{{authorId}}">{{author}}</a>, le {{formatDate}}</p>
                    <p class="content">{{{content}}}</p>
                    {{#if isCommentOwner}}
                    <div class="adminButtonsCont">
                        <a class="button" href="/comment/edit/{{_id}}">Modifier</a>
                        <a class="button" href="/comment/delete/{{_id}}/{{../article._id}}">Supprimer</a>
                    </div>
                
                    {{else}}
                    {{#*inline "modBtns"}}
                    <div class="adminButtonsCont">
                        <a class="button modo" href="/comment/edit/{{_id}}">Modérer</a>
                        <a class="button danger" href="/comment/delete/{{_id}}/{{../article._id}}">Supprimer</a>
                    </div>
                    {{/inline}}
                    {{#if ../admin}}
                        {{#if modoComment}}
                        {{> modBtns}}
                        {{else}}{{#if memberComment}}
                        {{> modBtns}}
                        {{else}}{{#if bannedComment}}
                        {{> modBtns}}
                        {{/if}}{{/if}}{{/if}}
                    {{else}}{{#if ../modo}}
                        {{#if memberComment}}
                        {{> modBtns}}
                        {{else}}{{#if bannedComment}}
                        {{> modBtns}}
                        {{/if}}{{/if}}
                    {{/if}}{{/if}}{{/if}}
                </div>
            </article>
            {{/each}}
        </section>
        {{#if user}}
        <section class="formContainer bloc">
            <form action="/comments/add/{{article._id}}" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="content"><h3>Votre commentaire</h3></label>
                    <textarea class="textarea" name="content"></textarea>
                    <script>
                        CKEDITOR.replace(
                            ('content'));
                        CKEDITOR.config.entities = false;
                        CKEDITOR.config.entities_latin = false;
                    </script>
                </p>
                <p>
                    <input class="button" type="submit" value="Envoyer" />
                    <a href="/">Annuler</a>
                </p>
            </form>
        </section>
        {{else}}
        <p class="bloc"><strong>Connectez-vous pour écrire un commentaire !</strong></p>
        {{/if}}
    </div>
    
    <div id="lisere">
        <p> </p>
    </div>
</div>