<h1>Articles recents</h1>
<section>
    {{#if article}}
    <section>
        {{#each article}}
        <article class="bloc blocList">
            <h2><a href="/article/{{_id}}">{{title}}</a></h2>
            <p>{{{content}}}</p>
            <p>Par <a href="/userProfile/{{authorId}}">{{author}}</a></p>
        </article>
        {{/each}}
    </section>
    {{else}}
    <article class="bloc">
        <p>{{user.userName}} n'a pas encore publé d'article ...</p>
    </article>
    {{/if}}
</section>