<header>
    <h1>Galerie</h1>
</header>

<section class="galCont">
    {{#each media}}
        <article class="bloc">
            <a href="{{link}}">
                <figure>
                    <figcaption>{{title}}</figcaption>
                    <img src="{{image}}" alt="img là bas" />
                </figure>
            </a>
            <p>{{{content}}}</p>
            <div class="social">
                <p><a href="{{fbLink}}"><img
                            src="images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="{{twLink}}"><img src="images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
            {{#if admin}}
            <p class="adminButtonsCont"><a class="button" href="/medias/edit">Modifier</a><a class="button" href="/medias/delete">Supprimer</a></p>
            {{/if}}
        </article>
    {{/each}}
</section>