<h1>Page perso</h1>

<header>
    <h2>(Profil de {{user.userName}})</h2>
    {{#if admin}}
        {{#if userIsAdmin}}
        <p><a class="button" href="/admins/delete/{{user._id}}">Révoquer des admins</a></p>
        {{else}}
        <p><a class="button" href="/admins/add/{{user._id}}">Définir en tant qu'admin</a></p>
        {{/if}}
    {{/if}}

    {{#if isOwner}}
    <a class="button" href="/articles/add">ajouter un article</a>
    <p>Ceci est ma page perso !</p>
    {{else}}
    <p>Ce n'est pas ma page perso ...</p>
    {{/if}}
</header>

{{#if article}}
<section class="galCont">
    {{#each article}}
    <article class="bloc" id="{{_id}}">
        <h2><a href="/article/{{_id}}">{{title}}</a></h2>
        <p>{{{content}}}</p>
        {{#if ../isOwner}}
        <div class="adminButtonsCont">
            <a class="button" href="/article/edit/{{id}}">Modifier</a>
            <a class="button" href="/article/delete/{{id}}">Supprimer</a>
        </div>
        {{else}}
            {{#if ../admin}}
            <div class="adminButtonsCont">
                <a class="button" href="/article/edit/{{id}}">Modifier</a>
                <a class="button" href="/article/delete/{{id}}">Supprimer</a>
            </div>
            {{/if}}
        {{/if}}
    </article>
    {{/each}}
</section>
{{else}}
<article class="bloc">
    <p>{{user.userName}} n'a pas encore publé d'article ...</p>
</article>
{{/if}}
