<h1>Page perso</h1>

<header>
    <h2>(Profil de {{usr.userName}})</h2>
    <div class="profileAdminButtonsCont">

    {{#if isOwner}}
        <p><a class="button" href="/articles/add">ajouter un article</a></p>
    {{else}}
        {{#if admin}}
            {{#if userIsBanned}}
            <p><a class="button danger" href="/members/unban/{{usr._id}}">Amnistier</a></p>
            {{else}}
            <p><a class="button danger" href="/members/ban/{{usr._id}}">Bannir</a></p>
                {{#if userIsAdmin}}
                <p><a class="button" href="/admins/delete/{{usr._id}}">Révoquer des admins</a></p>
                {{else}}
                <p><a class="button" href="/admins/add/{{usr._id}}">Définir en tant qu'admin</a></p>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
    </div>
</header>

{{#if article}}
<section class="galCont">
    {{#each article}}
    <article class="bloc" id="{{_id}}">
        <h2><a href="/article/{{_id}}">{{title}}</a></h2>
        {{{content}}}
        {{#if ../isOwner}}
        <div class="adminButtonsCont">
            <a class="button" href="/article/edit/{{id}}">Modifier</a>
            <a class="button" href="/article/delete/{{id}}">Supprimer</a>
        </div>
        {{else}}
            {{#if ../admin}}
            <div class="adminButtonsCont">
                <a class="button" href="/article/edit/{{id}}">Modifier</a>
                <a class="button" href="/article/delete/{{id}}">Supprimer</a>
            </div>
            {{/if}}
        {{/if}}
    </article>
    {{/each}}
</section>
{{else}}
<article class="bloc">
    <p>{{usr.userName}} n'a pas encore publié d'article ...</p>
</article>
{{/if}}
